#botmanWidgetRoot div div {
    color: #ffffff!important;
}

/* M E S S A G E S */
#messageArea {
    color: #FFFFFF;
    background: #FFFFFF;

}

.chat li {

}

.visitor {

}

.visitor .msg {

}

.chatbot .msg {

}

.msg {

}

.msg p {

}

.msg .time {

}

/* I N P U T */

.textarea {

}

.textarea:focus {

}

a.banner {

}

/* Loading Dot Animation */
div.loading-dots {

}

div.loading-dots .dot {

}

div.loading-dots .dot:nth-child(2) {

}

div.loading-dots .dot:nth-child(3) {

}

div.loading-dots .dot-grey {

}

div.loading-dots .dot-sm {

}

div.loading-dots .dot-md{

}

div.loading-dots .dot-lg {

}


.btn {

}
